body{
    background-image:url("https://wallpaperaccess.com/full/4660795.jpg");
}
#main{
    
    margin-left: 450;
    background-color: rgba(125, 66, 184,0.2);
    margin-top: 50;
   
  
}


h1{
    font-weight: bolder;
}

